@import "src/styles/settings/colors.scss";

.login {
    position: relative;
    width: 1585px;
    height: 1026px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  
    h2 {
      font-size: 38px;
      font-weight: 400;
      color: $color-text-dark-grey;
    }
  }
  
  .login_decoration_image {
    margin-left: 695px;
    margin-bottom: 40px;
  }