@import "src/styles/settings/colors.scss";

.dashboard {
    width: 1585px;
    height: 820px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-left: -8px;
  
    h2 {
      font-size: 38px;
      color: $color-text-dark-grey;
      font-weight: 400;
    }
  }