@import "src/styles/settings/colors.scss";
@import "src/styles/settings/fonts.scss";

.dashboard {
    width: 1585px;
    height: 853px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-left: -8px;
    margin-bottom: -129px;

    .banner_image {
      margin-left: -200px;
      margin-top: -257px;;
      width: 1015px;
      height: 853px;
    }

    .banner_intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 674px;
      height: 350px;
      margin-right: 139px;
      margin-top: -420px;
  
    h2 {
      font-size: 38px;
      color: $color-text-dark-grey;
      font-weight: 400;
    } 

    .banner_decoration_image {
      margin-left: 5px;;
    }

    p {
      font: $primary-font;
      font-size: 40px;
      color: $color-text-dark-grey;
      font-weight: 300;
   }
  }

  .four_steps p {
    font-size: 22px;
    line-height: 1.2;
  }
}

.four_steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;

  .first_step, .second_step, .third_step, .fourth_step {
    height: 145px;
    width: 145px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid $color-text-dark-grey; 
    transform: rotate(45deg); 
    position: relative;
    margin-top: 20px;

    h3, p {
      transform: rotate(-45deg);
      position: absolute;
    }
  }
}

.four_steps h3 {
  font: $primary-font;
  font-size: 32px;
  color: $color-text-dark-grey;
  margin-left: 27px;
  margin-top: -38px;
  font-weight: 200;
}

.rectangle {
  width: 1585px;
  height: 142px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: -129px;
  background-color: $color-yellow;
  margin-left: -8px;

  h4 {
    font: normal normal 600 36px/32px Open Sans;
    margin-bottom: 10px;
    margin-top: 0;
  }

  p {
    font: normal normal normal 22px/30px Open Sans;
  }

  h4, p {
    margin-left: 142px;
    color: $color-black;
  }
}