@import "src/styles/settings/colors.scss";

.fundations {
  width: 1575px;
  height: 624px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $color-white;
  justify-content: center;

  h2 {
    font-size: 38px;
    font-weight: 400;
    color: $color-text-dark-grey;
  }

  img {
    margin-right: 70px;
    margin-bottom: 40px;
  }

  p {
    color: $color-text-dark-grey;
    max-width: 640px;
  }
}

.fundations_text,
.organizations_text,
.collections_text {
  font-size: 22px;
  margin-left: 285px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.fundations_buttons {
  background-color: $color-white;
  color: $color-text-dark-grey;
  padding: 10px 20px;
  margin: 5px;
  display: inline-flex;
  margin-left: -15px;
  font-size: 24px;

  button {
    width: 208px;
    height: 79px;
    background-color: $color-white;
    color: $color-text-dark-grey;
    padding: 5px 20px;
    margin: 0 50px;
    font: normal normal 300 24px Open Sans;
    font-weight: 400;

    &:hover {
      border: 0.75px solid $color-text-dark-grey;
    }
  }
}

.three_rows {
  width: 1230px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 350px;
}

.row1_row,
.row2_row,
.row3_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 3px solid #f0f1f1;
}

.row3_row {
  border-bottom: none;
}

.left_column,
.right_column {
  padding: 0 10px;
}

.left_column {
  text-align: left;
  flex-basis: 50%;
}

.right_column {
  text-align: right;
  flex-basis: 50%;
}

.row_title {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 -10px 0;
}

p {
  font-size: 18px;
  margin: 8px 0;
}

.row1_row,
.row2_row,
.row3_row {
  min-height: 80px;
}

.pagination {
  display: inline-flex;

  button {
    min-height: 50px;
    min-width: 40px;
  }
}

.page-item {
  background-color: $color-white;
  color: $color-text-dark-grey;
  font-weight: 400;
  margin: 0 8px;
}