$color-white: #ffffff;
$color-white-second: #ffffffc9;
$color-creamy: #f0f1f1;
$color-creamy-text: #3c3c3c26;
$color-yellow: #fad648;
$color-grey: #707070;
$color-text-light-grey: #737373;
$color-text-dark-grey: #3c3c3c;
$color-brown: #5E5322;
$color-light-black: #1A1818;
$color-black: #000000;