@import "src/styles/settings/colors.scss";

.form {
    width: 1585px;
    height: 883px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -8px;
    background-image: url(src/assets/component_2.png);
    background-position: right;
  
    h4 {
      font: normal normal 600 36px/45px Open Sans;
      color: $color-black;
    }
  }