@import "src/styles/settings/colors.scss";

.home_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1758px;
  height: calc(963px - 95px);
  background-color: $color-white;

  .hero_image {
    margin-top: -90px;
    margin-left: -690px;
    width: 1368px;
    height: 963px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 300px;
    width: 674px;
    height: 350px;

    p {
      font: normal normal normal 38px/55px Open Sans;
      margin-top: 200px;
      font-size: 38px;
      width: 702px;
      height: 107px;
      margin-right: 600px;
      color: $color-text-dark-grey;

      span {
        display: block;
      }
    }

    .decoration_image {
      margin: 50px 0;
      margin-right: 600px;
    }

    img {
      margin-bottom: 20px;
    }
  }

  .intro_buttons {
    background-color: $color-white;
    color: $color-text-dark-grey;
    padding: 10px 20px;
    margin: 5px;
    font-size: 36px;
    display: inline-flex;
    margin-left: -935px;
    margin-top: 500px;

    button {
      width: 270px;
      height: 120px;
      background-color: $color-white;
      color: $color-text-dark-grey;
      border: 0.75px solid $color-text-dark-grey;
      padding: 10px 20px;
      margin: 5px;
      font-size: 36px;
      font: normal normal 300 36px/45px Open Sans;
    }
  }
}